.design{
    -webkit-text-stroke: 3px #242424; 
}

@media not all and (min-width: 639px) { 
    .design{
        -webkit-text-stroke: 1px #242424; 
    }
}

@media (min-width:640px) and (max-width: 767px) { 
    .design{
        -webkit-text-stroke: 1px #242424; 
    }
}

@media (min-width: 798px) and (max-width: 1023px) { 
    .design{
        -webkit-text-stroke: 1px #242424; 
    }
}

@media (min-width: 1024px) and (max-width: 1280px) { 
    .design{
        -webkit-text-stroke: 1px #242424; 
    }
}